In [1]:
import pandas as pd

In [2]:
csv_file_path = './adult.data.csv'
df = pd.read_csv(csv_file_path)

In [42]:
df.size

488415

In [22]:
df.iloc[0:10]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [6]:
value_counts = df['race'].value_counts()
print(value_counts)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [7]:
unique_values = df['race'].unique()
print(unique_values)

['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']

In [8]:
race_count = df['race'].value_counts()
print(race_count)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [94]:
men = df[df['sex'] == 'Male']
average_age_men = men['age'].mean()
average_age_men = round(average_age_men, 1)

print(average_age_men)

39.4

In [96]:
education = df['education']
percentage_education = education.value_counts(normalize=True) * 100
percentage_bachelors = percentage_education['Bachelors']
percentage_bachelors = round(percentage_bachelors, 1)

print(percentage_education)
print(percentage_bachelors)

HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: education, dtype: float64
16.4

In [97]:

higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education = round(higher_education, 1)
lower_education = round(lower_education, 1)

print(higher_education.size)
print(lower_education.size)

112365
376050

In [98]:
higher_education_salary = higher_education['salary']
higher_education_percentage = higher_education_salary.value_counts(normalize=True) * 100
higher_education_rich = higher_education_percentage['>50K']
higher_education_rich = round(higher_education_rich, 1)

print(higher_education_salary)
print(higher_education_percentage)
print(higher_education_rich)

0        <=50K
1        <=50K
4        <=50K
5        <=50K
8         >50K
         ...
32538     >50K
32539     >50K
32544    <=50K
32553    <=50K
32554     >50K
Name: salary, Length: 7491, dtype: object
<=50K    53.464157
>50K     46.535843
Name: salary, dtype: float64
46.5

In [99]:
lower_education_salary = lower_education['salary']
lower_education_percentage = lower_education_salary.value_counts(normalize=True) * 100
lower_education_rich = lower_education_percentage['>50K']
lower_education_rich = round(lower_education_rich, 1)

print(lower_education_rich)

17.4

In [55]:
work_hours = df['hours-per-week'].value_counts().sort_index()
min_work_hours = df['hours-per-week'].min()
print(work_hours)
print(min_work_hours)

1     20
2     32
3     39
4     54
5     60
      ..
95     2
96     5
97     2
98    11
99    85
Name: hours-per-week, Length: 94, dtype: int64
1

In [67]:
num_min_workers = df.loc[df['hours-per-week'] == 1]
min_workers_salary = num_min_workers['salary']
min_workers_percentage = min_workers_salary.value_counts(normalize=True) * 100
rich_percentage = min_workers_percentage['>50K']


# min_workers_salary_counts = min_workers_salary.value_counts()

# print(num_min_workers[['hours-per-week', 'salary']])
# print(' ----- ')

print(min_workers_percentage)
print(' ----- ')

# print(min_workers_salary)
# print(' ----- ')

# print(min_workers_salary_counts)
# print(' ----- ')

print(rich_percentage, '%')
print(' ----- ')

<=50K    90.0
>50K     10.0
Name: salary, dtype: float64
 -----
10.0 %
 -----

In [79]:
countries = df.groupby('native-country')['salary'].value_counts(normalize=True).unstack().fillna(0)
# print(countries)

countries_rich = countries['>50K'] * 100
countries_rich.sort_values()

native-country
Holand-Netherlands             0.000000
Outlying-US(Guam-USVI-etc)     0.000000
Dominican-Republic             2.857143
Columbia                       3.389831
Guatemala                      4.687500
Mexico                         5.132193
Nicaragua                      5.882353
Peru                           6.451613
Vietnam                        7.462687
Honduras                       7.692308
El-Salvador                    8.490566
Haiti                          9.090909
Puerto-Rico                   10.526316
Trinadad&Tobago               10.526316
Portugal                      10.810811
Laos                          11.111111
Jamaica                       12.345679
Ecuador                       14.285714
Thailand                      16.666667
Poland                        20.000000
South                         20.000000
Ireland                       20.833333
Hungary                       23.076923
United-States                 24.583476
Scotland                      25.000000
?                             25.042882
Cuba                          26.315789
China                         26.666667
Greece                        27.586207
Hong                          30.000000
Philippines                   30.808081
Germany                       32.116788
Canada                        32.231405
England                       33.333333
Italy                         34.246575
Cambodia                      36.842105
Yugoslavia                    37.500000
Japan                         38.709677
Taiwan                        39.215686
India                         40.000000
France                        41.379310
Iran                          41.860465
Name: >50K, dtype: float64

In [100]:
highest_earning_country = countries_rich.idxmax()
highest_earning_country_percentage =  countries_rich.max()
highest_earning_country_percentage = round(
      highest_earning_country_percentage, 1)
print(highest_earning_country)
print(highest_earning_country_percentage)

Iran
41.9

In [91]:
india = df[df['native-country'] == 'India']
india_rich = india[india['salary'] == '>50K']
india_rich_occupations = india_rich['occupation'].value_counts()
print(india_rich_occupations)
top_IN_occupation = india_rich_occupations.idxmax()
top_IN_occupation

Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: occupation, dtype: int64

'Prof-specialty'